@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #fafcfe;
  --color-main: #ea4e1f;
  --color-sub: #f69f65;
  --color-main-accent: #618532;
  --color-sub-accent: #421810;

  --color-peach: #f2c094;
  --color-magnolia: #f1effb;
  --color-geranium: #de3131;
  --color-forest-green: #75a176;

  --tia-maria-50: #fef6ee;
  --tia-maria-100: #fdecd7;
  --tia-maria-200: #fbd4ad;
  --tia-maria-300: #f7b57a;
  --tia-maria-400: #f38c44;
  --tia-maria-500: #f06d1f;
  --tia-maria-600: #e15315;
  --tia-maria-700: #cb4315;
  --tia-maria-800: #953217;
  --tia-maria-900: #782b16;
}

@layer base {
  body {
    background: var(--color-magnolia);
  }

  /* for image included post's content */
  .blur-image-wrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
  }
  .blur-image-wrap > img {
    flex: 1 !important;
    border-radius: 8px !important;
    margin: auto !important;
  }
  .blur-image-wrap::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 25px 5px var(--color-magnolia);
  }

  /* for next/image component */
  .blur-next-image-wrap > div {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    .blur-next-image-wrap > div {
      width: auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .blur-next-image-wrap > div {
      width: auto;
    }
  }
  .blur-next-image-wrap > div::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 25px 5px var(--color-magnolia);
  }
  .blur-next-image-wrap > div > img {
    width: 100vw;
    height: 100%;
  }
  @media screen and (min-width: 768px) {
    .blur-next-image-wrap > div > img {
      width: auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .blur-next-image-wrap > div > img {
      width: auto;
    }
  }
}

@layer utilities {
  .fallback-bg {
    background: linear-gradient(to bottom right, var(--color-main) 0%, var(--color-sub) 100%);
  }

  .egg-on-rice-image {
    right: 5%;
    width: 80px;
    bottom: 5%;
    height: 80px;
  }
}

.hover-zoom-in:hover {
  @apply duration-300 transform scale-110;
}
